.fields{
  width: 30vw;
  margin: 1vh 0;
}

.valid{
  border: 2px solid green;
}

.invalid{
  border: 2px solid red;
}

.invisible{
  display: none;
}

.visible{
  font-size: medium;
  color: red;
  margin: 0;
}